.navbarStyling {
    border-bottom: 1px solid #19AFA5;
}

.active1, .active2, .active3, .active4  {
    color: white; 
}

.active1:hover, .active2:hover, .active3:hover, .active4:hover {
    color: #19AFA5;
}

.sanAntonioLogo {
    width: 60px; 
    height: 75px;
}

.santoTomasLogo {
    width: 60px; 
    height: 60px;
}

.barangayName {
    color: #19AFA5;
    font-size: 1.2rem; 
}