* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.active1 {
    color: #19AFA5;
}

.viewButton {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    width: 200px;
}

.viewButton:hover {
    background-color: #19AFA5;
    color: black;
    border: 1px solid white;
}

.custom-title {
    color: #19AFA5;
}

.carousel-inner {
    border-radius: 1rem;
    overflow: hidden;
}

.carousel-caption {
    bottom: 20px;
}

.carousel img {
    transition: transform 0.5s ease;
}

.carousel img:hover {
    transform: scale(1.01);
}