* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.leftBackgroundImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logoSanAntonio {
    width: 75px; 
    height: 75px; 
    object-fit: cover; 
    border-radius: 50%;
}

.logoSantoTomas {
    width: 75px; 
    height: 75px; 
    object-fit: cover; 
    border-radius: 50%;
}

.barangay {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.city {
    color: black;
    font-size: 16px;
    text-align: center;
}

.tagline {
    color: black;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.form-floating .form-control {
    border-radius: 8px;
}

.form-control:focus {
    box-shadow: none !important; 
    outline: none;
    border: 1px solid #19AFA5;        
}

.form-check-input {  
    border: 1px solid #19AFA5;        
}

.form-check-input:focus {
    box-shadow: none !important;
    outline: none;
    border: 1px solid #19AFA5;   
}

.form-check-input:checked {
    background-color: #19AFA5;
    border-color: 1px solid #19AFA5;
}

.registerButton {
    width: 100%;
    height: 48px;
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.registerButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

.verifyButton {
    width: 100%;
    height: 48px;
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.verifyButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}