* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.active3 {
    color: #19AFA5;
}


.filterCard {
    position: sticky;
    top: 0;
    border-radius: 20px;
    border: 1px solid #19AFA5;
}

.filterButton {
    background-color: #19AFA5;
    color: white;
    border: 1px solid #19AFA5;
    border-radius: 12px;
}

.filterButton:hover {
    background-color: #19AFA5;
    color: black;
    border: 1px solid #19AFA5;
}

.filterButton.active {
    background-color: #0A6E6E;
    border: 1px solid #0A6E6E;
}

.contentCard {
    height: 100vh;
    border-radius: 20px;
    border: 1px solid #19AFA5;
}



/* 
make complaint */
.thumb-card {
    position: relative;
    height: 100px;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 2px solid #19AFA5;
}

.thumb-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.remove-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}