* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.active3 {
    color: #19AFA5;
}


.filterCard {
    position: sticky;
    top: 0;
    border-radius: 20px;
    border: 1px solid #19AFA5;
}

.filterButton {
    background-color: #19AFA5;
    color: white;
    border: 1px solid #19AFA5;
    border-radius: 12px;
}

.filterButton:hover {
    background-color: #19AFA5;
    color: black;
    border: 1px solid #19AFA5;
}

.filterButton.active {
    background-color: #0A6E6E;
    border: 1px solid #0A6E6E;
}

.contentCard {
    height: 100vh;
    border-radius: 20px;
    border: 1px solid #19AFA5;
}