* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.leftBackgroundImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logoSanAntonio {
    width: 75px; 
    height: 75px; 
    object-fit: cover; 
    border-radius: 50%;
}

.logoSantoTomas {
    width: 75px; 
    height: 75px; 
    object-fit: cover; 
    border-radius: 50%;
}

.barangay {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.city {
    color: black;
    font-size: 16px;
    text-align: center;
}

.form-floating .form-control {
    border-radius: 8px;
}

.form-control:focus {
    box-shadow: none !important; 
    outline: none;     
    border: 1px solid #19AFA5;        
}

.nextButton {
    width: 100%;
    height: 48px;
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.nextButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

.verifyButton {
    width: 100%;
    height: 48px;
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.verifyButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

.setPasswordButton {
    width: 100%;
    height: 48px;
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.setPasswordButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

.loginButton {
    width: 100%;
    height: 48px;
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.loginButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

.resetPasswordButton {
    font-size: 16px; 
    color: #19AFA5;
}

.resetPasswordButton:hover {
    color: #19AFA5;
}

.confirmResetButton {
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.confirmResetButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

.signUpButton {
    width: 100%;
    height: 48px;
    color: white;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
}

.signUpButton:hover {
    color: white;
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
}

.loadingBar {
    background-color: #19AFA5;
    height: 5px;
    width: 0%;
    transition: width 0.4s ease;
}

.loadingBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}