* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.active2 {
    color: #19AFA5;
}

.filterCard {
    position: sticky;
    top: 0;
    border-radius: 20px;
    border: 1px solid #19AFA5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

input.form-control:focus {
    outline: none;
    box-shadow: none;
}

.filterButton {
    background-color: #19AFA5;
    color: white;
    border: 1px solid #19AFA5;
    border-radius: 12px;
}

.filterButton:hover {
    background-color: #11A1A1;
    color: white;
    border: 1px solid #11A1A1;
}

.submittedRequestButton {
    width: 100%;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
    color: white;
    border-radius: 12px;
}

.submittedRequestButton:hover {
    background-color: #19AFA5;
    color: white;
    border: 1px solid #19AFA5;
}

.filterButton.active {
    background-color: #0A6E6E;
    border: 1px solid #0A6E6E;
    color: white;
}

.submittedRequestButton.active {
    background-color: #0A6E6E;
    border: 1px solid #0A6E6E;
    color: white;
}

.contentCard {
    height: 100%;
    border-radius: 20px;
    border: 1px solid #19AFA5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.note {
    color: black;
}

.form-control, .form-select {
  color: black;
  transition: all 0.2s ease;
}

.form-control:focus, .form-select:focus {
    border: 1px solid #19AFA5;
    outline: none;
    box-shadow: none;
}

.documentCard {
    width: 100%;
    height: 250px;
    border: none;
}

.documentCard img {
    border-radius: 16px;
}

.documentButton {
    width: 100%;
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
    color: white;
    border-radius: 12px;
}

.documentButton:hover {
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
    color: white;
}

.noDocument, .noRequest {
    font-size: 16px;
}

.proceedButton {
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
    color: white;
}

.proceedButton:hover {
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
    color: white;
}

.confirmButton {
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
    color: white;
}

.confirmButton:hover {
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
    color: white;
}

.yesButton {
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
    color: white;
}

.yesButton:hover {
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
    color: white;
}

.restoreButton {
    background-color: transparent;
    border-color: #19AFA5;
    color: #19AFA5;
}

.restoreButton:hover {
    background-color: #19AFA5;
    border-color: #19AFA5;
    color: white;
}

.restoreRequestButton {
    background-color: #19AFA5;
    border: 1px solid #19AFA5;
    color: white;
}

.restoreRequestButton:hover {
    background-color: #11A1A1;
    border: 1px solid #11A1A1;
    color: white;
}

.previousButton .page-link {
    color: white;
    background-color: #19AFA5; 
    border: 1px solid #19AFA5; 
    border-radius: 12px 0 0 12px;
    cursor: pointer;
}

.pageNumber .page-link {
    width: 100%;
    color: black;
    background-color: transparent; 
    border: 1px solid #19AFA5;
    box-shadow: none;
    white-space: nowrap;
}

.pageNumber.active .page-link {
    background-color: #19AFA5; 
    border: 1px solid #19AFA5;
    color: white;
    
}

.nextButton .page-link {
    color: white;
    background-color: #19AFA5; 
    border: 1px solid #19AFA5; 
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.previousButton.disabled .page-link,
.nextButton.disabled .page-link {
    background-color: transparent;
    border-color: #ccc;
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;  
}

#scrollable {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#scrollable::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}